#idformulario, .salida
{
  width:40%;
  margin: auto;
  background:lightgray;
  padding: 20px;
}
h1, .centrado
{
  width:40%;
  margin: auto;
  padding: 20px;
}
h3
{
  border-bottom: 1px solid black;
}
.cr
{
    text-align: center;
    font-size: 13px;
}
