@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');

body{
    margin: 0px;
}
html{
    font-family: "open sans", sans-serif;
    color: #333333;
}
a{
    text-decoration: none;
}

.navBar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Amatic SC', cursive;
    font-size: 28px;
    font-weight: bold;
    min-height: 50px;
}
.navBar li{
    list-style: none;
    margin-right: 15px;
}
.navBar li a{
    color: #333333;
    text-transform: uppercase;
}
.navBar li a:hover{
    color: #458a66;
    text-decoration: underline;
    font-size: 35px;
    transition: color 1s, font-size 1s;
}
.active{
    color: #458a66 !important;
    text-decoration: underline;
    font-size: 35px;
    cursor: pointer;
}
#cabecera a{
    position: absolute;
    left: 20px;
}
#cabecera{
    background-image: linear-gradient(to right, #ffffff,#458a66 50% ,#000000 );
    display: flex;
    align-items: center;
    justify-content: center;
}

#cabecera h1 {
    font-family: 'Amatic SC', cursive;
    color: #ffffff;
}
.contform{
    width: 75%;
    margin: auto;
    height: 490px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#usr,
#pwd{
    display: block;
    width: 100%;
    margin-top: 12px;
    height: 24px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.251);
    border: none;
}
#formlogin{
    /* background-image: url(../img/Fondo_Madera_Low.jpg); */
    background-image: radial-gradient( #ffffff, #458a66 74% );
    padding: 19px 70px 44px 70px;
    border-top-right-radius: 175px;
    border-bottom-left-radius: 175px;
    border-bottom-right-radius: 175px;
    border-top-left-radius: 5px;
    text-align: center;
}
.txtlog{
    color: #458a66;
    text-align: center;
    text-shadow: 1px 1px black;
}
.btn{
    width: 48%;
    border-radius: 5px;
    background: #458a66;
    color: #ffffff;
    border: #458a66;
    padding: 5px;
    height: 29px;
    margin-top: 12px;
}
.btn:hover{
    background-image: radial-gradient( #ffffff, #458a66 85% );
    color: #458a66;
    text-shadow: 1px 1px #333333;
    cursor: pointer;
}
.btnlargo p{
    width: 93%;
    border-radius: 5px;
    background: #458a66;
    color: #ffffff;
    border: #458a66;
    padding: 5px;
    height: 18px;
    margin: auto;
    margin-top: 5px;
}
.btnlargo p:hover{
    background-image: radial-gradient( #ffffff, #458a66 85% );
    color: #458a66;
    text-shadow: 1px 1px #333333;
    cursor: pointer;
}
.btntorna img{
    position: fixed;
    right: 50px;
    bottom: 20px;
    width: 50px;
}

footer{
    height: 205px;
    background: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
footer a{
    color: white;
}
.cr{
    float: left;
    color: white;
    font-size: 13px;
}
section > h3{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
}
.caja h3{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #333333;
}
.caja img{
    width: 100%;
    border-radius: 5px;
}
.caja{
    width: 48%;
    padding: 20px;
}
#entrada article:nth-child(even){
    background: rgba(69, 138, 102, 0.467);
    /* background: #f1f1f1; */
}
article .cajon{
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}
.caja{
    width: 48%;
    padding: 20px;
}
.lastp{
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #458a66;
}

#ejercicios{
    background: rgba(69, 138, 102, 0.467);
    /* background-image: repeating-radial-gradient(black, #458a66 43%); */
}
.h3{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    width: 80%;
    margin: auto;
}
.contenedor{
    width: 80%;
    margin: auto;
    display: flex;
}
.cajax3 article{
    min-height: 300px;
}
.cajax3{
    width: 32%;
    margin: 1%;
    padding: 20px;
    background: white;
    border-radius: 5px;
    min-height: 300px;
    margin-bottom: 34px;
    margin-top: 32px;
}
.cajax3 h3{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #333333;
    border-bottom: 1px dotted #458a66;
}
.btnvideo{
    border-radius: 5px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 0%,rgb(69, 138, 102)50%,rgb(255, 255, 255) 100%) ;
    
    width: 50%;
    margin: auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    color: rgb(255, 255, 255);
    /* border: 1px solid #458a66; */
}
.btnvideo:hover{
    background-image: linear-gradient(to right,rgb(69, 138, 102) 0%,rgb(255, 255, 255) 50%,rgb(69, 138, 102) 100%) ;
    
    color: rgb(69, 138, 102);
}
.mh{
    min-height: 100px;
}
#tabla1{
    width: 80%;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
}
#tabla1 th{
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    color: #333333;
    background: #458a66;
}
#tabla1 tr td:first-child{
    width: 20%;
    height: 40px;
    text-align: center;
}
#tabla1 tr td:nth-child(2){
    padding: 10px;
}
#tabla1 tr:nth-child(odd){
    background: rgba(69, 138, 102, 0.467);
    /* background: #f1f1f1; */
}
.cont{
    width: 80%;
    margin: auto;
}
.contenedor2{
    background: rgba(69, 138, 102, 0.467);
    padding-top: 50px;
    padding-bottom: 50px;
}
#fregistro{
    width: 40%;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border-radius: 5px;
}
#fregistro h1{
    margin-top: 0px;
    font-family: 'Amatic SC', cursive;
}
#fregistro .input{
    border: none;
    background: #458a6633;
    display: block;
    width: 100%;
    margin-top: 12px;
    height: 24px;
    border-radius: 5px;
    border: none;
    margin-bottom: 18px;
}
.contsexo{
    padding: 10px;
    border-radius: 5px;
    width: 24%;
    margin-bottom: 14px;
    background: #458a6633;
}
.h2{
    margin-top: 0px;
}
.titlelbl{
    display: block;
    margin-bottom: 12px;
}
.flexinverse{
    display: flex;
}
.flexinverse label{
    order: 2;
    margin-bottom: 5px;
}
.df{
    display: flex;
}
.nat{
    display: block;
    margin-bottom: 12px;
}
.nat select{
    border-radius: 5px;
    padding: 5px;
    width: 28%;
    border: none;
    background: #458a6633;
}
.intechecks{
    background: #458a6633;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 24px;
}
.continteres > label{
    margin-bottom: 0px;
    background: #458a6633;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
    width: 24%;
}
#suge{
    width: 96%;
    border: none;
    border-radius: 5px;
    background: none;
    padding: 10px;
    /* color: #ffffff; */
    margin-bottom: 14px;
    margin-top: 14px;
}
.bdnform{
    display: flex;
    align-items: center;
    justify-content: center;
}
#enviar{
    cursor: pointer;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    margin-right: 12px;
    border: none;
    background-image: linear-gradient(to right,#458a6633,rgb(255, 255, 255) );
}
#enviar:hover{
    background-image: linear-gradient(to right,rgb(255, 255, 255), #458a6633 );
}
#restable{
    cursor: pointer;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    margin-right: 12px;
    border: none;
    background-image: linear-gradient(to right,#458a6633,rgb(255, 255, 255) );
}
#restable:hover{
    background-image: linear-gradient(to right,rgb(255, 255, 255), #458a6633 );
}
.pfoot{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pfoot a:first-child{
    margin-right: 12px;
}